@use '../abstract/index' as *;
@use '../base/index' as *;

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 1.25rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: $light-grayish-blue;
}
.testimonial-container {
  display: grid;
  max-width: 69rem;
  gap: 1.25rem;

  /* ***TABLET*** */
  @media (min-width: 31.25em) {
    grid-template-areas:
      'jonathon jeanette'
      'kira kira'
      'daniel patrick';
    gap: 1.875rem;
  }

  /* ***DESKTOP*** */
  @include media-min(62.5em) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0fr);
    grid-template-areas:
      'daniel daniel jonathon kira'
      'jeanette patrick patrick kira';
  }
}
